<div class="total-page hidden-xs hidden-sm hidden-md">
  <nav class="navbar-basic navbar-main-hidden hidden-menu">

    <!-- Right Navigation -->
    <ul class="navbar-right">
      <li href="" class="navbar-item navbar-link">
        <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="icon-name">Página inicial</span>
        <% end %>
      </li>
      <li href="" class="navbar-item navbar-link">
        <%= link_to servicos_path do %>
        <i class="fa fa-gavel" aria-hidden="true"></i>
        <span class="icon-name">Serviços</span>
        <% end %>
      </li>
      <li href="" class="navbar-item navbar-link">
        <%= link_to institucional_path do %>
        <i class="fa fa-university" aria-hidden="true"></i>
        <span class="icon-name">Sobre</span>
        <% end %>
      </li>
      <li href="" class="navbar-item navbar-link">
        <%= link_to "#", data: {toggle: "modal", target: "#email"} do %>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span class="icon-name">Contato</span>
        <% end %>
      </li>
    </ul>
  </nav>


</div>

    <!-- Dropdown appearing on mobile only -->

<nav class="cel-menu hidden-lg">
    <a id="burger">
      <i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i>
    </a>

    <ul id="submenu">
      <li>
        <%= link_to root_path do %>
          <span class="icon-name">Página inicial</span>
        <% end %>
      </li>
      <li>
        <%= link_to servicos_path do %>
          <span class="icon-name">Serviços</span>
        <% end %>
      </li>
      <li>
        <%= link_to institucional_path do %>
          <span class="icon-name">Sobre</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", data: {toggle: "modal", target: "#email"} do %>
          <span class="icon-name">Contato</span>
        <% end %>
      </li>
    </ul>
  </nav>
