

  <div class="works-banner">
    <h1>Áreas de atuação</h1>
    <p>Clique nos cards abaixo e conheça todos os serviços do escritório</p>
    <div class="large-cards hidden-xs hidden-sm hidden-md">
      <figure class="card-work" data-toggle="modal" data-target=".comercial">
        <%= cl_image_tag("growth-money-business-close-up-cash-currency-572367-pxhere.com_yzu3jq.jpg") %>
        <figcaption>
          <h3>Comercial</h3>
        </figcaption>
      </figure>

      <figure class="card-work" data-toggle="modal" data-target=".societario">
        <%= cl_image_tag("hand-man-suit-photography-finger-giving-1187331-pxhere.com_isw399.jpg") %>
        <figcaption>
          <h3>Societário</h3>
        </figcaption>
      </figure>

      <figure class="card-work" data-toggle="modal" data-target=".consumidor">
      <%= cl_image_tag("sky-monument-statue-contrast-blue-scale-897175-pxhere.com_iaqsra.jpg") %>
        <figcaption>
          <h3>Consumidor</h3>
        </figcaption>
      </figure>

      <figure class="card-work" data-toggle="modal" data-target=".contratos">
      <%= cl_image_tag("writing-hand-pattern-paper-brand-art-603024-pxhere.com_sccl3v.jpg")
     %>
        <figcaption>
          <h3>Contratos</h3>
        </figcaption>
      </figure>

      <figure class="card-work" data-toggle="modal" data-target=".trabalhista">
      <%= cl_image_tag("carteira_madawf.jpg") %>
        <figcaption>
          <h3>Trabalhista</h3>
        </figcaption>
      </figure>
    </div>
    <div class="large-cards hidden-xs hidden-lg">
      <figure class="card-work-medium" data-toggle="modal" data-target=".comercial">
        <%= cl_image_tag("growth-money-business-close-up-cash-currency-572367-pxhere.com_yzu3jq.jpg") %>
        <figcaption>
          <p>Comercial</p>
        </figcaption>
      </figure>

      <figure class="card-work-medium" data-toggle="modal" data-target=".societario">
        <%= cl_image_tag("hand-man-suit-photography-finger-giving-1187331-pxhere.com_isw399.jpg") %>
        <figcaption>
          <p>Societário</p>
        </figcaption>
      </figure>

      <figure class="card-work-medium" data-toggle="modal" data-target=".consumidor">
      <%= cl_image_tag("sky-monument-statue-contrast-blue-scale-897175-pxhere.com_iaqsra.jpg") %>
        <figcaption>
          <p>Consumidor</p>
        </figcaption>
      </figure>

      <figure class="card-work-medium" data-toggle="modal" data-target=".contratos">
      <%= cl_image_tag("writing-hand-pattern-paper-brand-art-603024-pxhere.com_sccl3v.jpg")
     %>
        <figcaption>
          <p>Contratos</p>
        </figcaption>
      </figure>

      <figure class="card-work-medium" data-toggle="modal" data-target=".trabalhista">
      <%= cl_image_tag("carteira_madawf.jpg") %>
        <figcaption>
          <p>Trabalhista</p>
        </figcaption>
      </figure>
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      <ul class="work-menu">
        <li class="work-menu-link">
          <a data-toggle="modal" data-target=".comercial">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="text-menu">Comercial</span>
          </a>
        </li>
        <li class="work-menu-link">
          <a data-toggle="modal" data-target=".societario">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="text-menu">Societário</span>
          </a>
        </li>
        <li class="work-menu-link">
          <a data-toggle="modal" data-target=".consumidor">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="text-menu">Consumidor</span>
          </a>
        </li>
        <li class="work-menu-link">
          <a data-toggle="modal" data-target=".contratos">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="text-menu">Contratos</span>
          </a>
        </li>
        <li class="work-menu-link">
          <a data-toggle="modal" data-target=".trabalhista">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="text-menu">Trabalhista</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
<%= render "shared/modal" %>
